<div id="footer">
  <div class="container">
    <span class="site-info">github:<a href="https://github.com/CaiSenYu-N/cnode-1">Caisenyu</a></span>
    <span class="site-info">2018-5-5</span>
    <span class="site-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.  </span>
  </div>
</div>
